In [ ]:
# Importando modulo sqlite

import sqlite3

# Cria a conxão com o banco, se não existir é criado nesse momento

con = sqlite3.connect('escola.db')

In [ ]:
type(con)

In [ ]:
# Criando um cursor;
# Um cursor permite percorrer todos os registros em um conjunto de dados;

cur = con.cursor()

In [ ]:
type(cur)

In [ ]:
# Cria uma intrução SQL

sql_create = "create table cursos (id integer primary key, titulo varchar(100), catergoria varchar(140))"

In [ ]:
# Executando a instrução SQL no cursor;

cur.execute(sql_create)

In [ ]:
# Cria uma intrução SQL

sql_insert = "insert into cursos values (?,?,?)"

In [ ]:
# Dados

recset = [(1000, "Python Fundamentos", "Data Science"),
          (1002, "Big Data Fundamentos", "Big Data"),
          (1003, "Ciencia da Dados", "Analise de Dados")]

In [ ]:
# Executando a instrução SQL no cursor;

for rec in recset:
    cur.execute(sql_insert, rec)

In [ ]:
# Grava a transação

con.commit()

In [ ]:
sql_select = "select * from cursos"

In [ ]:
# Nesse momento todos os dados da tabela curso será armazenado no objeto cursor (cur)

cur.execute(sql_select)

In [ ]:
# Recupera todos os dados armazenado no objeto cursor (cur)

dados = cur.fetchall()

In [ ]:
for linha in dados:
    print("Id: %i, Titulo: %s, Categoria: %s \n" %(linha))

In [ ]:
# Gerando outros registros

recset = [(1001, "Hadoop", "Data Science"),
          (1004, "Python Fundamentos", "Data Science"),
          (1005, "MongoDB", "Big Data")]

#inserindo os registros

for linha in recset:
    cur.execute(sql_insert, linha)
    
# Gravando a transação

con.commit()

In [ ]:
# Seleciona todos os registros
cur.execute("select * from cursos")

#atribui à variavel dados todos os valores obtidos pelo cursor(cur)
dados = cur.fetchall()

#imprime os valores na tela
for linha in dados:
        print("Id: %i, Titulo: %s, Categoria: %s \n" %(linha))

In [ ]:
import sqlite3
# Criando conexao de DB
conn = sqlite3.connetc('dsa.db')

# Criando cursor
c = conn.cursor()

# Criando função para criar tabela
def create_table():
    c.execute