LENDO ARQUIVOS

In [43]:
#Abrindo o arquivo para leitura

arq1 = open("arquivo-dsc.txt", "r")

In [44]:
#Lendo o arquivo

print(arq1.read())

testando a gravação de arquivosAcrescentando text

In [45]:
#contar o numero de caracteres

print(arq1.tell())

49

In [46]:
#retonar para o inicio do arquivo

print(arq1.seek(0,0))

0

In [47]:
#ler os primeiro 10 caracteres

print(arq1.read(10))

testando a

GRAVANDO ARQUIVOS

In [48]:
#abrindo aquivo para gravação

arq2 = open("arquivo-dsc.txt", "w")

In [49]:
#como abrimos o arquivo apenas para gravação não podemos executar a leitura

print(arq2.read())

UnsupportedOperation: not readable

In [ ]:
#gravando arquivo

arq2.write("testando a gravação de arquivos")

In [ ]:
arq2.close()

In [ ]:
#lendo arquivo gravado

arq2 = open("arquivo-dsc.txt", "r")

In [ ]:
print(arq2.read())

In [ ]:
#acrescentando conteudo

arq2 = open("arquivo-dsc.txt", "a")

In [ ]:
arq2.write("Acrescentando text")

In [ ]:
arq2.close()

In [ ]:
arq2 = open("arquivo-dsc.txt", "r")
print(arq2.read())

Automatizando Processos

In [ ]:
filename = input("digite o nome do arquivo: ")

In [ ]:
filename = filename + ".txt"

In [ ]:
arq3 = open(filename, "w")

In [ ]:
arq3.write("editando arquivo criado")

In [ ]:
arq3.close()

In [ ]:
arq3 = open(filename, "r")

In [ ]:
print(arq3.read())

In [ ]:
arq3.close()

ABRINDO UM DATASET EM UMA UNICA LINHA

In [ ]:
f = open("salarios.csv", "r")

In [ ]:
data = f.read()

In [ ]:
rows = data.split('/n')

In [ ]:
print(rows)

DIVIDINDO DATASET EM COLUNAS

In [ ]:
f = open("salarios.csv", "r")

In [ ]:
data = f.read()

In [ ]:
rows = data.split("/n")

In [ ]:
full_data = []

In [ ]:
for row in rows:
    split_rows = row.split(",")
    full_data.append(split_rows)
print(full_data)

CONTANDO AS LINHA DE UM ARQUIVO

In [ ]:
f = open("salarios.csv", "r")

In [ ]:
data = f.read()

In [ ]:
rows = data.split("/n")

In [ ]:
full_data =[]

In [ ]:
for row in rows:
    split_rows = row.split(",")
    full_data.append(split_rows)

In [ ]:
count = 0
for row in full_data:
    count += 1 #igual a count = count +1
print(count)

GRAVANDO ARQUIVO PELO JUTYPTER NOTEBOOK

In [ ]:
%%writefile teste.txt
ola esse arquivo foi gravado direto pelo jupyter notebook

In [ ]:
arq4 = open("teste.txt", "r")

In [ ]:
print(arq4.read())

In [ ]:
print(arq4.read())

In [ ]:
arq4.seek(0,0)

In [ ]:
print(arq4.read())

In [ ]:
#podemos usar um loop for para ler um arquivo

for line in open("teste.txt"):
    print(line)

IMPORTANDO DATASET COM PANDAS

In [ ]:
import pandas as pd

In [ ]:
file_name = "http://www.ats.ucla.edu/stat/data/binary.csv"

In [ ]:
df = pd.read_csv(file_name)

In [ ]:
df.head()

In [ ]:
file_name2 = "salarios.csv"

In [ ]:
df2 = pd.read_csv(file_name2)

In [58]:
df2.head()

,Name,Position Title,Department,Employee Annual Salary
0,"AARON, ELVIA J",WATER RATE TAKER,WATER MGMNT,$88968.00
1,"AARON, JEFFERY M",POLICE OFFICER,POLICE,$80778.00
2,"AARON, KARINA",POLICE OFFICER,POLICE,$80778.00
3,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,$84780.00
4,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,$104736.00

FIM