# <font color='blue'>Data Science Academy - Python Fundamentos - Capítulo 4</font>

## Download: http://github.com/dsacademybr

## Exercícios

In [1]:
# Exercício 1 - Crie uma função que imprima a sequência de números pares entre 1 e 20 (a função não recebe parâmetro) e 
# depois faça uma chamada à função para listar os números


def imprime():
    for i in range(1,20):
        if i % 2 == 0:
            print(i)
            i+=1

In [2]:
imprime()

2
4
6
8
10
12
14
16
18

In [3]:
# Exercício 2 - Crie uam função que receba uma string como argumento e retorne a mesma string em letras maiúsculas.
# Faça uma chamada à função, passando como parâmetro uma string

def maiuscula(frase):
    print(frase.upper())

In [4]:
frase = "Exercício 3 - Crie uma função que receba como parâmetro uma lista de 4 elementos"

maiuscula(frase)

EXERCÍCIO 3 - CRIE UMA FUNÇÃO QUE RECEBA COMO PARÂMETRO UMA LISTA DE 4 ELEMENTOS

In [5]:
# Exercício 3 - Crie uma função que receba como parâmetro uma lista de 4 elementos, adicione 2 elementos a lista e 
# imprima a lista
lista = ["carro", "bike", "moto", "skate"]

def listar(*lista):
    lista2 = ["carro", "bike", "moto", "skate"]
    lst = list(lista)
    lst[0].append("patins")
    lst[0].append("mobilete")
    for i in lst:
        print(lst)

In [6]:
listar(lista)

[['carro', 'bike', 'moto', 'skate', 'patins', 'mobilete']]

In [7]:
# Exercício 4 - Crie uma função que receba um argumento formal e uma possível lista de elementos. Faça duas chamadas 
# à função, com apenas 1 elemento e na segunda chamada com 4 elementos

lista = ["carro", "bike", "moto", "skate"]

def listar(arg1, *lista):
    for i in lista:
        print(i)
    else:
        print(arg1)

In [8]:
listar("casa")

casa

In [9]:
listar(lista)

['carro', 'bike', 'moto', 'skate']

In [10]:
# Exercício 5 - Crie uma função anônima e atribua seu retorno a uma variável chamada soma. A expressão vai receber 2 
# números como parâmetro e retornar a soma deles

soma = lambda x,y : x+y

In [11]:
soma(34, 78)

112

In [12]:
# Exercício 6 - Execute o código abaixo e certifique-se que compreende a diferença entre variável global e local

In [15]:
# Exercício 7 - Crie uma função que receba o arquivo abaixo como argumento e retorne um resumo estatístico descritivo 
# do arquivo. Dica, use Pandas e um de seus métodos, describe()
# Arquivo: "http://www.ats.ucla.edu/stat/data/binary.csv"

import pandas as pd

arq = "http://www.ats.ucla.edu/stat/data/binary.csv"

def resumo(arquivo):
    
    lerArq = pd.read_csv(arq)
    resumo = lerArq.describe()
    
    return resumo

In [16]:
resumo(arq)

            admit         gre         gpa       rank
count  400.000000  400.000000  400.000000  400.00000
mean     0.317500  587.700000    3.389900    2.48500
std      0.466087  115.516536    0.380567    0.94446
min      0.000000  220.000000    2.260000    1.00000
25%      0.000000  520.000000    3.130000    2.00000
50%      0.000000  580.000000    3.395000    2.00000
75%      1.000000  660.000000    3.670000    3.00000
max      1.000000  800.000000    4.000000    4.00000

# Fim

### Obrigado - Data Science Academy - <a href=http://facebook.com/dsacademy>facebook.com/dsacademybr</a>